@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var currentMonth = DateTime.Now.Month;
}
@using Product_management.ModelView;
@model OrderViewModel


<div style="background-color : #F5F5FA">

    <div class="fw-bold">Order có tổng total cao nhất tháng @currentMonth : #@Model?.HighestOrder?.Id (@(String.Format(info, "{0:c}",Model?.HighestOrder?.Total)) )</div>
        @foreach (var o in Model.orders)
        {<table class="table" style="background-color : white; border: solid 1px black">
   
        <tbody>
            <div> #@o.Id - @o.CreateDate</div>
            <div> #@o.UserId - @o.User.Name</div>
            @foreach (var od in o.OrderDetails)
            {
                <tr>
                    <td>
                        @od.Product.Name
                    </td>
                    <td>
                         x  @od.quantity
                    </td>
                    <td style="text-align:end; padding-right: 30px;">
                         @(String.Format(info, "{0:c}", od.TotalPrice))
                        
                    </td

                </tr>
               
            }
             <tr>
                 <td></td>
                  <td></td>
                  <td class="fw-bold text-danger" style="text-align:end;padding-right: 30px"> @(String.Format(info, "{0:c}", o.Total))</td>
                </tr>
                </tbody>
</table>
        }
    

</div>

  